{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->
<body>
    <div>       
        The Team JAC wiki is made by TechX students: Javier Diaz, Abhishek Khanal, and Christin Moreno. 
        The Wiki presents recommended video games from different genres, such as suspense, action, horror, adventure, sports and many more! 
        Are you up to the challenge to play these games? 
        What’re your recommended games? 
        Feel free to  upload your thoughts on each game, or better yet, recommend a game that hasn’t been listed yet!
    </div>
</body>

<h3>Team JAC Authors</h3>

<!-- TODO(Project 1): Add team members and pictures to about page. -->
<body>
    <div>       
        Juan Diaz
    </div>
    <button href='/about_image'></button>
    <div>       
       Abhishek Khanal, 
    </div>
    <button href='/about_image'></button>
    <div>       
        Christin Moreno
    </div>
    <button href='/about_image'></button>
</body>

{% endblock %}

