{% extends 'navigation_bar.html' %}
{% block content %}
<!DOCTYPE html>
<head>
    <title>Contact Form</title>
</head>
<body>
    <h3>Contact us</h3>
    <form id="fcf-form-id" class="fcf-form-class" method="POST" action="{{url_for('contact_support')}}">
            <label for="Name" class="fcf-label">Your name</label>
            <div class="fcf-input-group">
                {% if session['loggedin'] %}
                    <input type="text" id="Name" name="Name" class="fcf-form-control" required value={{ session['username'] }}>
                {% else %}
                    <input type="text" id="Name" name="Name" class="fcf-form-control" required>
                {% endif %}
                
            </div>
        <div class="fcf-form-group">
            <label for="Email" class="fcf-label">Your email address</label>
            <div class="fcf-input-group">
                <input type="email" id="email" name="Email" class="fcf-form-control" required>
            </div>
<!-- place holder until i get Abhishek's comment box to merge with this form -->
            <div class="fcf-form-group">
                <label for="comment" class="fcf-label">Your message</label>
                <div class="fcf-input-group">
                    <textarea id="comment" name="comment" class="fcf-form-control" rows="6" maxlength="3000" required ></textarea>
                </div>
            </div>
        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send</button>
        </div> 
<!-- place holder until i get Abhishek's comment box to merge with this form -->
    </form>
</body>
<style>
    body {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(1, 1, 1);
    text-align: left;
}
</style>
</html>

    <!-- <script type="text/javascript">
        $(function() {
        $("comment").load("Contact_Us.html");
        });
    </script> -->

{% endblock %}
