<!DOCTYPE html>
<html>

<body>
    <nav>
        {% if session['loggedin'] %}
            {% for href, caption in [('home', 'Home'),
            ('pages', 'Pages'),
            ('about', 'About'),
            ('upload', 'Upload'),
            ('logout', 'Logout')]: %}
                <a href={{ url_for(href) }}>{{ caption }}</a>
            {% endfor %}
            {{ session['username'] }}
        {% else %}        
            {% for href, caption in [('home', 'Home'),
            ('pages', 'Pages'),
            ('about', 'About'),
            ('login', 'Login'),
            ('sign_up', 'Sign Up')]: %}
                <a href={{ url_for(href) }}>{{ caption }}</a>
            {% endfor %}
        {% endif %}
    </nav>

    {% block vote_section %} {% endblock %}
    {% block content %} {% endblock %}
        
</body>

</html>