<!DOCTYPE html>
<html>

<body>

    <!-- TODO(Project 1): Implement routes. -->
    <ul id='/nav_bar'>
        {% for item in navigation %}
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
        {% endfor %}
        </ul>
    <ul>
        {% for href, caption in [('/home', 'Home'),
                                ('/about', 'About'),
                                ('/login', 'Login'),
                                ('/sign_up', 'Sign Up')]:%}
            <li><a href="{{ href }}">{{ caption }}</a></li>
        {% endfor %}
        </ul>
</body>

</html>