<!DOCTYPE html>
<html>

<head>
    <head>
        <title> Pages contained in the Team JAC Wiki! </title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <button href='/pages/Survival'></button>
    <button href='/pages/Horror'></button>
    <button href='/pages/Sports'></button>
    <button href='/pages/Action-Adventure'></button>
    <button href='/pages/Simulation'></button>
    <button href='/pages/Multiplayer Online Battle'></button>
    <button href='/pages/First Person Shooter'></button>
    <button href='/pages/Puzzle Games'></button>
    <button href='/pages/Augumented Reality'></button>
    <button href='/pages/Role-Playing'></button>
</body>

</html>